/* .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  
.swiper-pagination-bullet-active {
    background-color: rgb(245, 54, 123) !important;
}

.swiper-pagination-bullet-inactive {
    background-color: rgb(245, 54, 123) !important;
} */